{namespace foo}

/**
 * some template
 */
{template .moo}
    <div class="form-body">
        <div class="bar-baz dao-dzen">
            <span class="moo-icon {$baz} icon-warning"></span>
            <p>{getText('some.gettext.key', getText('default.gettext.key'))}</p>
        </div>
    </div>
{/template}